In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("heart.csv")

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
#(df["Cholesterol"].mean()+3*df["Cholesterol"].std())

In [9]:
df[df["Cholesterol"]>(df["Cholesterol"].mean()+3*df["Cholesterol"].std())] #outlier

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [12]:
df2=df[df["Cholesterol"]<(df["Cholesterol"].mean()+3*df["Cholesterol"].std())]

In [24]:
df3=df2[df2["RestingBP"]<(df2["RestingBP"].mean()+3*df2["RestingBP"].std())]

In [25]:
df[df["MaxHR"]>(df["MaxHR"].mean()+3*df["MaxHR"].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [28]:
df[df["Oldpeak"]>(df["Oldpeak"].mean()+3*df["Oldpeak"].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [31]:
df4=df3[df3["Oldpeak"]<(df3["Oldpeak"].mean()+3*df3["Oldpeak"].std())]

In [32]:
df4.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [33]:
df4.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [34]:
df4.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [35]:
df4.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [36]:

df5=df4.copy()

In [38]:
df5.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df5.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df5.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df5.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [41]:
df6=pd.get_dummies(df5,drop_first=True)

In [42]:
X=df6.drop(["HeartDisease"],axis=1)

In [44]:
y=df6["HeartDisease"]

In [47]:
from sklearn.preprocessing  import StandardScaler
scaler=StandardScaler()
X_value=scaler.fit_transform(X)
X_value

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_value,y,stratify=y)

In [57]:
y_train.value_counts()

1    371
0    305
Name: HeartDisease, dtype: int64

In [61]:
305/371

0.8221024258760108

In [59]:
y_test.value_counts()

1    124
0    102
Name: HeartDisease, dtype: int64

In [60]:
102/124

0.8225806451612904

In [62]:
from  sklearn.svm import SVC
from sklearn.model_selection  import cross_val_score
cross=cross_val_score(SVC(),X,y,cv=5)

In [63]:
cross

array([0.62430939, 0.79558011, 0.68888889, 0.72777778, 0.61666667])

In [65]:
cross.mean()

0.6906445672191528

In [66]:
from sklearn.ensemble import BaggingClassifier
BAG=BaggingClassifier(base_estimator=SVC(),n_estimators=100,max_samples=0.8,random_state=0)
cross1=cross_val_score(BAG,X,y,cv=5)

In [67]:
cross1

array([0.63535912, 0.79558011, 0.68888889, 0.69444444, 0.60555556])

In [68]:
cross1.mean()

0.6839656230816453

In [69]:
from sklearn.tree import DecisionTreeClassifier
cross3=cross_val_score(DecisionTreeClassifier(random_state=0),X,y,cv=5)

In [70]:
cross3.mean()

0.7193984039287907

In [71]:
BAG2=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,random_state=0)
cross4=cross_val_score(BAG2,X,y,cv=5)

In [72]:
cross4.mean()

0.8014855739717618

In [81]:
from sklearn.ensemble import RandomForestClassifier
cross5=cross_val_score(RandomForestClassifier(),X,y,cv=70)

In [82]:
cross5.mean()

0.866117216117216